<footer>
	&copy; {new Date().getFullYear()} agenticweb.blog. All rights reserved.
	<div class="social">
		<a href="https://x.com/agenticwebblog" target="_blank" rel="noopener">Twitter</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
		font-family: "Atkinson Hyperlegible", system-ui, sans-serif;
		font-size: 0.875rem;
	}
	.social {
		margin-top: 0.75em;
	}
	.social a {
		color: rgb(var(--gray));
		text-decoration: none;
	}
	.social a:hover {
		color: var(--accent);
	}
</style>
